sudo: required
dist: trusty
language: node_js
node_js:
- 7
cache:
  directories:
  - node_modules
  - "~/.m2"
  - tmp
  - "~/.boot/cache/lib"
  - "~/.boot/cache/bin"
before_install:
- npm install -g yarn
- wget https://github.com/boot-clj/boot-bin/releases/download/latest/boot.sh
- mv boot.sh boot && chmod a+x boot && sudo mv boot /usr/local/bin
install:
- boot
- yarn install
script:
- yarn lint
- yarn type:check
- yarn test
- boot test
- boot release-ci
after_success:
- chmod a+x build/lumo
- zip -j build/lumo.zip build/lumo
deploy:
  provider: s3
  bucket: lumo-linux
  skip_cleanup: true
  local_dir: build
  acl: public_read
  access_key_id:
    secure: lMIy+AFvJH0KRblTkXllfw41v/NgMnZ9a47va4qGtqTOQ1LpyvvHffimaT27+7lRZ2kCIoHQT0EcrpOAkNCF3nKp65ml0xdRVJYYnFEO0RPNw+6eTE5j5nh5nv4qtSqJ/9JhfAa5IzdMRjkLsUywG9GbEVCAZpDgz3ui1Ivm55RZ6mBHQY0b+3uWTGG0ylsYH2JciKBAzo+pJWSjbuR3bG4pDwsxLt1AzcLSUIl1dfn9mWgtlB8ZQ1VVf6Jphv6XmntvTO0AUqEzoxd4hVcOU08p1Unf0yUCvwHIt04x3wJBrBXKN3GdGb/mayNOqXID85BLrWZazAZR1CACqZ7al+UFA53qh2ur53VNLAMdkiiYs/k5iGTtGVbPGz+DuM7bttkmLOwegCu7UhhfkEx7pLE7QupmGYAv+xh6aNIXGqKlAo6Pxx7Q3WaAnxrNosUDybF1uV3hFabZI2L/LEg+KPXpXYrQ3c0POvhFh0dj1wslrT00iaL+so/06lGXrPSgb6yAMLN0iW71tQHhN4v/rbUuxvWOVDVQouPOd3sQv8qg6JTUP75u6zskgsWPpvijFWQMLhG8abq6rIlbpTdyBGP4k8RG3qIxTHs/PzNC0iaRg/Ale+/IiavpyOQbL4e7P64LwgohrnoVJ+X8OchEZCnLDF3ce9WD7ddLsFwFCU4=
  secret_access_key:
    secure: kgRa7yiZi/KKrPOGM5BvxmUKu3B+HlMJ2bvT/WhM0U15q8VX2n+OsdHC6es0Jpfuxc3+ifpHHvMBTGPlyIkrqG9VYu2oGdrRJ1Ie1kFECcszA7hQY+txrBFFHL/YvapNnKXfWqvp0dmlaxgW7o5mOHR1RL0jiQIozSgRAna2BhcA3XJ+QURcfb2uyu97mUNeB/QLtCBYIWclPKxAYfV7Pt4cbYUEno7hN1YXVu+00BoYlZkTbNE37J+bGccLzOel4q6uGhABuGseLlBiiLe3eg+WyWEXVB2yQRfghVXl0YjNWPvNcqfdPjnKFacP+T6dX3A/paOGWmxYVAZAPevUd6VuAIcbxZRT/17A+iYnHJSHa5FDC/X/BLri28F/KLsan/rTjXgsu8Ej/SDs3sZi46+gHjdEmusvmoX6CC7DqxGImEFNhm0iyTXO7uDzuPe8hD8MNxAOWsJsp2F8m6M3BuxQo4tF7MnagXUYxN7OseUmQJdiyaNVYyuHWUwRRLhAMeDXFmEpwCJqncg8SNcVpw0+DglTgOelZron2jd9OP0JZ1onQU6zp0lc49t08kkFmsc/CFmIz2oI5zGCtbL2JSNJOGPF5QGcSKbC5ivHlkbfNwitnr+whrLKkLBH5Ye+YVbtL/n7Z3acOivoOm/pZIaAJZM3CQ8EMOgQo2OudQY=
env:
- BOOT_JVM_OPTIONS= |
    -client
    -XX:+TieredCompilation
    -XX:TieredStopAtLevel=1
    -Xmx2g
    -XX:+UseConcMarkSweepGC
    -XX:+CMSClassUnloadingEnabled
    -Xverify:none
