@import '../src/variables';

.container {
  &.highlightBackground,
  &.darkBackground {
    h1,
    h2,
    h3,
    h4,
    h5 {
      border-color: white;
      color: white;
    }
  }

  &.paddingAll {
    padding: 40px;
  }

  &.paddingBottom {
    padding-bottom: 80px;

    @media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
      padding-bottom: 40px;
    }

    &.paddingLeft {
      padding-left: 40px;
    }

    &.paddingRight {
      padding-right: 40px;
    }

    &.paddingTop {
      padding-top: 80px;

      @media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
        padding-top: 20px;
      }
    }
  }
}

.lightBackground {
  background: #e9e9e9;
}

.darkBackground {
  background: #808080;
  color: #fff;

  a,
  code {
    color: #d6b3b8;
  }
}

.highlightBackground {
  background: rgba(153, 66, 79, 0.7);
  color: #fff;

  a {
    border-color: white;
    color: #fff;
    font-weight: 800;
  }
}

.container {
  h1 {
    font-size: 300%;
    line-height: 1em;
    margin: 0 0 10px 0;
    padding: 1.4em 0 1em;
    text-align: left;
  }

  h2 {
    color: $dark-blue;
    font-size: 22px;
    line-height: 1em;
    margin-top: 20px;
    text-align: left;
    padding: 10px 0;
  }

  h3 {
    color: $dark-blue;
    font-size: 18px;
    margin-top: 10px;
    padding: 10px 0;
  }

  h4 {
    color: $dark-blue;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    padding: 10px 0 0;
  }

  h4 + p {
    padding-top: 0;
  }
}
