footer {
  &.navFooter {
    position: relative;
    box-sizing: border-box;
    border: none;
    font-weight: 400;
    color: #202020;
    font-size: 15px;
    line-height: 24px;
    background: #808080;
    box-shadow: inset 0 10px 10px -5px rgba(0, 0, 0, 0.2);
    padding-top: 2em;
    padding-bottom: 2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .sitemap {
    @media screen and (max-width: 740px) {
      display: none;
    }

    display: flex;
    justify-content: space-between;
    max-width: 1080px;
    margin: 0 auto 2em;

    div {
      flex: 1;
    }

    .navHome {
      display: table;
      margin: -12px 20px 0 0;
      padding: 10px;
      width: 50px;
      height: 50px;
      opacity: 0.4;
      transition: opacity 0.15s ease-in-out;

      &:hover,
      &:focus {
        opacity: 1;
      }
    }

    a {
      color: rgba(255, 255, 255, 0.6);
      display: table;
      margin: 2px -10px;
      padding: 3px 10px;

      &:hover,
      &:focus {
        color: white;
        text-decoration: none;
      }
    }

    h5 > a:hover,
    h5 > a:focus {
      color: white;
      text-decoration: none;
    }

    h5,
    h6 {
      margin: 0 0 10px;
    }

    h5 {
      color: white;
    }

    h6,
    h5 > a,
    h6 > a {
      color: #cca0a7;
    }

    h5 > a,
    h6 > a {
      margin: 0 -10px;
    }
  }

  .copyright {
    color: rgba(255, 255, 255, 0.4);
    text-align: center;
  }
}
